<nav>
    <ul>
        <li><a href="/alerts">Alertas</a></li>
        <li><a href="/addFicha">Agregar ficha</a></li>
        <li><a href="/addAprendiz">Agregar aprendiz</a></li> 
        <li><a href="/addInstructor">Agregar instructor</a></li> 
        <li><a href="/getReports">Generar reportes</a></li> 
        <li><a href="/updateAprendiz">Actualizar aprendiz</a></li> 
    </ul>
</nav>
